{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.artists{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}global.artists{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li class="active">{% trans %}global.artists{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        {%  if (label == 'notice') %}
                                            <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                    
                                <div class="row mt-2 mb-4">
                                    <div class="col-sm-12">
                                        <a href="{{ path('rtAdminArtistCreate') }}" class="btn btn-link mr-4">{% trans from 'artists' %}action.add{% endtrans %}</a>
                                    </div>
                                </div>
                                    
                                {% if artists is not empty %}
                                    
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{% trans from 'artists' %}field.name{% endtrans %}</th>
                                                        <th>{% trans from 'artists' %}field.status{% endtrans %}</th>
                                                        <th>{% trans %}action.options{% endtrans %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for artist in artists %}
                                                        <tr>
                                                            <td>{{ artist.id }}</td>
                                                            <td>{{ artist.sortName }}</td>
                                                            <td>{{ artist.status|formatArtistStatus }}</td>
                                                            <td>
                                                                <a href="{{ path('rtAdminArtistRead', {'id' : artist.id}) }}" class="mr-2"><i class="ti ti-search"></i></a>
                                                                <a href="{{ path('rtAdminArtistUpdate', {'id' : artist.id}) }}" class="mr-2"><i class="ti ti-pencil-alt"></i></a>
                                                                <a href="{{ path('rtAdminArtistDelete', {'id' : artist.id}) }}"><i class="ti ti-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info">
                                                {% trans with {'%start%': startRecord, '%end%' : endRecord, '%total%' : artists.getTotalItemCount} from 'artists' %}list.showEntries{% endtrans %}
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="bootstrap-data-table-export_paginate">
                                                {{ knp_pagination_render(artists) }}
                                            </div>
                                        </div>
                                    </div>
                                        
                                {% else %}
                                    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="mt-2">{% trans from 'artists' %}list.noFound{% endtrans %}</p>
                                        </div>
                                    </div>
                                    
                                {%  endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
            
{% endblock %}


