{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'artists' %}action.view{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'artists' %}action.view{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminArtistOverview') }}">{% trans %}global.artists{% endtrans %}</a></li>
        <li class="active">{% trans from 'artists' %}action.view{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">                      

                    <div class="row">
                        <div class="col col-md-3">
                            <label class=" form-control-label">{% trans from 'artists' %}field.name{% endtrans %}</label>:
                        </div>
                        <div class="col-12 col-md-9">
                            <p class="form-control-static">{{ artist.name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-3">
                            <label class=" form-control-label">{% trans from 'artists' %}field.sortName{% endtrans %}</label>:
                        </div>
                        <div class="col-12 col-md-9">
                            <p class="form-control-static">{{ artist.sortName }}</p>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col col-md-3">
                            <label class=" form-control-label">{% trans from 'artists' %}field.country{% endtrans %}</label>:
                        </div>
                        <div class="col-12 col-md-9">
                            <p class="form-control-static">{{ artist.country|countryName }}</p>
                        </div>
                    </div>                        

                    <div class="row">
                        <div class="col col-md-3">
                            <label class=" form-control-label">{% trans from 'artists' %}field.status{% endtrans %}</label>:
                        </div>
                        <div class="col-12 col-md-9">
                            <p class="form-control-static">{{ artist.status|formatArtistStatus }}</p>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <a href="{{ path('rtAdminArtistOverview') }}" class="btn btn-sm btn-outline-primary">
                                {% trans %}action.backToOverview{% endtrans %}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
                                
{% endblock %}
