{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'albums' %}action.add{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'albums' %}action.add{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminAlbumOverview') }}">{% trans %}global.albums{% endtrans %}</a></li>
        <li class="active">{% trans from 'albums' %}action.add{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        
                        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
                        
                            {{ form_row(form.multipleArtists) }}
                            {{ form_row(form.artist) }}
                            {{ form_row(form.title) }}
                            {{ form_row(form.alternativeTitle) }}
                            {{ form_row(form.label) }}
                            {{ form_row(form.distributor) }}
                            {{ form_row(form.releaseYear) }}
                            {{ form_row(form.releaseDate) }}
                            {{ form_row(form.status) }}
                            
                            {{ form_widget(form.submit) }}
                            <a href="{{ path('rtAdminAlbumOverview') }}" class="mt-2 btn btn-sm btn-outline-primary">
                                {% trans %}action.cancel{% endtrans %}
                            </a>
                            
                        {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}