{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'albums' %}action.update{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'albums' %}action.update{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminAlbumOverview') }}">{% trans %}global.albums{% endtrans %}</a></li>
        <li class="active">{% trans from 'albums' %}action.update{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        
                        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
                        
                            {{ form_label(form.artist) }}
                            <div class="row form-group">
                                <div class="col-lg-3 pt-1">
                                    {{ form_widget(form.multipleArtists) }}
                                 </div>
                                <div class="col-lg-1 pt-1 pb-2">
                                    {% trans from 'albums' %}orAnd{% endtrans %}
                                </div>                                 
                                <div class="col-lg-8">
                                   {{ form_widget(form.artist) }}
                                </div>    
                                <div class="col-lg-12">
                                    {{ form_errors(form.artist) }}
                                </div>
                            </div>
                                                            
                            {{ form_row(form.title) }}
                            {{ form_row(form.alternativeTitle) }}
                            {{ form_row(form.label) }}
                            {{ form_row(form.distributor) }}
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(form.releaseDate) }}
                                        {{ form_widget(form.releaseDate) }}
                                        {{ form_errors(form.releaseDate) }}
                                    </div>
                                </div>                                
                                <div class="col-lg-6 pt-375rem">
                                    <div class="form-group">
                                        {{ form_label(form.releaseYear) }}
                                        <div class="form-inline">
                                            {{ form_widget(form.releaseYear) }}
                                            {{ form_errors(form.releaseYear) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            {{ form_row(form.status) }}
                            
                            {{ form_widget(form.submit) }}
                            <a href="{{ path('rtAdminAlbumOverview') }}" class="mt-2 btn btn-sm btn-outline-primary">
                                {% trans %}action.cancel{% endtrans %}
                            </a>
                            
                        {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
{% endblock %}