<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="nl">
<!--<![endif]-->   
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Lisztomania{% endblock %}</title>
        <meta name="description" content="Lisztomania">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('admin') }}

            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        
        <!-- Left Panel -->

        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{{ path('rtAdminDashboard') }}">Lisztomania</a>
                    <a class="navbar-brand hidden" href="{{ path('rtAdminDashboard') }}/">L</a>
                </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    {{ knp_menu_render('main', {'currentClass': 'active'}) }}                        
                </div>
            </nav>
        </aside>
        
        <!-- End left panel -->
        
        
        <!-- Right panel -->
        
        <div id="right-panel" class="right-panel">

            <!-- Header-->
            
            <header id="header" class="header">

                <div class="header-menu">

                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left"></div>
                    </div>

                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="{{asset('build/images/user-avatar.png')}}" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="{{ path('rtAdminMyProfile') }}"><i class="fa fa-user mr-2"></i> {% trans %}My profile{% endtrans %}</a>
                                <a class="nav-link" href="{{ path('rtAdminSettingsOverview') }}"><i class="fa fa-cog mr-2"></i> {% trans %}Settings{% endtrans %}</a>
                                <a class="nav-link" href="{{ path('rtAdminLogout') }}"><i class="fa fa-power-off mr-2"></i> {% trans %}Logout{% endtrans %}</a>
                            </div>
                        </div>
                    </div>

                </div>

            </header>
            <!-- Einde header-->
            

            <!-- Title -->
            
            <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>{% block pageTitle %}Lisztomania{% endblock %}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            {% block breadcrumbs %}
                                <ol class="breadcrumb text-right">
                                    <li class="active">{% trans %}Dashboard{% endtrans %}</li>
                                </ol>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
                        
            <!-- End Title -->
            

            <!-- Main content -->
            
            <div class="content mt-3">
                {% block mainContent %}{% endblock %}
            </div>
            
            <!-- End main content -->
            
        </div>      
        
        
        <!-- End right panel -->

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
