{# TODO@CINDY->TEST #}
{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans from 'distributors' %}action.update{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans from 'distributors' %}action.update{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('rtAdminDistributorOverview') }}">{% trans %}global.distributors{% endtrans %}</a></li>
        <li class="active">{% trans from 'distributors' %}action.update{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.status) }}

                        {{ form_widget(form.submit) }}
                        <a href="{{ path('rtAdminDistributorOverview') }}" class="mt-2 btn btn-sm btn-outline-primary">
                            {% trans %}action.cancel{% endtrans %}
                        </a>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
