{% extends 'loggedOut.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.forgotYourPassword{% endtrans %}{% endblock %}

{% block mainContent %}  

{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <p>{% trans from "users" %}forgotPassword.fillInUsernameOrEmail{% endtrans %}</p>

    {{ form_row(form.usernameOrEmail) }}                           
    {{ form_widget(form.send) }}

{{ form_end(form) }}

{% endblock %}
