{% extends 'base.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.myProfile{% endtrans %}{% endblock %}
{% block pageTitle %}{% trans %}global.myProfile{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb text-right">
        <li><a href="{{ path('rtAdminDashboard') }}">{% trans %}global.dashboard{% endtrans %}</a></li>
        <li class="active">{% trans %}global.myProfile{% endtrans %}</li>
    </ol>
{% endblock %}

{% block mainContent %}  
    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                {%  if (label == 'notice') %}
                                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}                        
                        
                        <div class="row">
                            <div class="col col-md-3">
                                <label class=" form-control-label">{% trans from 'users' %}field.lastName{% endtrans %}</label>:
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.lastName }}</p>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col col-md-3">
                                <label class=" form-control-label">{% trans from 'users' %}field.firstName{% endtrans %}</label>:
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.firstName }}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col col-md-3">
                                <label class=" form-control-label">{% trans from 'users' %}field.email{% endtrans %}</label>:
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.email|formatMailTo }}</p>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col col-md-3">
                                <label class=" form-control-label">{% trans from 'users' %}field.username{% endtrans %}</label>:
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.username }}</p>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col col-md-3">
                                <label class=" form-control-label">{% trans from 'users' %}field.role{% endtrans %}</label>:
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.role|userRole }}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col col-md-3">
                                <label class=" form-control-label">{% trans from 'users' %}field.status{% endtrans %}</label>:
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static">{{ user.status|formatUserStatus }}</p>
                            </div>
                        </div>
                            
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <a href="{{ path('rtAdminMyProfileUpdate') }}" class="btn btn-sm btn-primary">{% trans from 'users' %}action.updateMyProfile{% endtrans %}</a>
                                <a href="{{ path('rtAdminMyProfileUpdatePassword') }}" class="btn btn-sm btn-primary">{% trans from 'users' %}action.updatePassword{% endtrans %}</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
