{% extends 'loggedOut.html.twig' %}

{% block title %}Lisztomania :: {% trans %}global.resetYourPassword{% endtrans %}{% endblock %}

{% block mainContent %}  
    
<p class="dark">{% trans from 'users' %}forgotPassword.resetPassword{% endtrans %}</p>

{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}

    {{ form_row(form.plainPassword) }}   
    {{ form_row(form.confirmPassword) }}
    {{ form_widget(form.submit) }}

{{ form_end(form) }}
    
{% endblock %}
